@font-face {
	font-family: 'Orbitron';
	src: url('/assets/font/Orbitron-Black.ttf') format('ttf');
	font-weight: 900;
}
@font-face {
	font-family: 'Orbitron';
	src: url('/assets/font/Orbitron-Regular.ttf') format('ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Heatwood';
	src: url('/assets/font/Heatwood.ttf') format('ttf');
	font-weight: 100;
}

.ft-orbitron-black {
	font-family: 'Orbitron';
	font-weight: 900;
}
.ft-orbitron {
	font-family: 'Orbitron';
	font-weight: normal;
}
.ft-signature {
	font-family: 'Heatwood';
	font-weight: normal;
}
